body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  
 
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #317C53;
    color: #fff;
    padding: 40px 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 1000;
  }
  

  .logo {
    display: flex;
    align-items: center;
  }
  

  .texto-logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-right: 10px;
  }
  
 
  .logo img {
    height: 40px;
  }
  
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-left: 50px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  
 
  .icones {
    display: flex;
    align-items: center;
  }
  
  .icones a {
    margin-left: 20px;
  }
  
  .icones img {
    height: 50px;
    width: 50px;
  }
  
 
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 120px;
  }
  

  .caixa-central {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    border: 2px solid #D9D9D9;
    border-radius: 20px; 
    padding: 60px;
    width: 85%; 
    max-width: 1200px;
    min-height: 600px;
    color: #2CBE56;
  }
  
  .conteudo {
    flex: 1;
    text-align: left;
    margin-right: 40px;
  }
  
  .conteudo h1 {
    margin: 0;
    font-size: 48px;
  }
  
  .conteudo .subtitulo {
    margin-top: 20px;
    font-size: 24px;
    color: #666;
  }
  
  .sub-caixas {
    display: flex;
    margin-top: 40px;
  }
  
  .sub-caixa {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-right: 20px;
    width: 45%;
  }
  
  .sub-caixa1 {
    font-size: larger;
    background-color: #C2C2C2; 
    color: #000000;
  }
  
  .sub-caixa2 {
    font-size: larger;
    background-color: #C2C2C2; 
    color: #000000;
  }
  
  .imagem img {
    width: 400px; 
    height: auto;
    border-radius: 25px;
  }
  
  .titulo-container {
    display: flex;
    align-items: center;
  }
  
  .titulo-container h1 {
    margin: 0;
    font-size: 36px;
  }


.imagem-pequena {
    width: 50px; 
    height: auto;
    margin-left: 10px;
  }