body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

/* CABEÇALHO */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2A9D58;
  color: #fff;
  padding: 20px 20px;  /* Reduziu o padding para diminuir a altura */
  position: fixed; /* Mantém o cabeçalho fixo */
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}

/* LOGO */
.logo {
  background-color: #ffffff;
  color: #2cbe56;
  padding: 10px 60px;  /* Ajustou o padding para ficar mais compacto */
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.logo img {
  height: 30px;
  margin-right: 10px;
}

.texto-logo {
  font-size: 24px;
  font-weight: bold;
  color: #2cbe56;
  margin-right: 10px;
}

/* MENU DE NAVEGAÇÃO */
nav {
  flex-grow: 1;  /* Faz com que o menu ocupe espaço disponível */
  display: flex;
  justify-content: center; /* Centraliza os itens */
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 15px; /* Espaçamento entre os itens */
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 15px; /* Adiciona espaço para facilitar o clique */
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

/* ÍCONES DO TOPO (PERFIL, VOLTAR, ETC.) */
.icones {
  display: flex;
  align-items: center;
}

.icones a {
  margin-left: 20px;
}

.icones img {
  height: 50px;
  width: 50px;
}


main {
    margin-top: 120px;
    padding: 20px;
  }
  
  .introducao h1 {
    text-align: center;
    font-size: 36px;
    color: #317C53;
  }
  
  .informacoes {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 50px;
  }
  
  .informacoes h1{
    font-size: 40px;
  }
  
  .info-box {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 23%;
  }
  
  .info-box textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .sub-texto {
    font-size: 24px;
    color: #666;
    margin-bottom: 40px;
  }
  